<!-- Begin: Modelos -->
<div class="header-section" style="display: block;">
	<div class="header-section-content-wrapper">
		<div class="close-menu-box">
			<a id="close-models-panel">Cerrar<span>&nbsp;</span></a>
		</div>
		<div class="header-section-content models">
    		<div class="header-title"></div>
		    <div class="models-wrapper">
		    {{#each sukpa}}
		        <div class="model {{suk_gama_key}}">
		            <a class="gama-model" id="go-model-{{suk_gama_key}}" data-gama-model="{{suk_gama_key}}">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        {{suk_gama_nombre}}
		                    </div>
		                    <div class="slogan">
		                        {{suk_gama_slogan}}
		                    </div>
		                    <div class="info">
		                        {{suk_gama_info}}
		                    </div>
		                </div>
		                <i></i>
		                <div class="clearfix"></div>
		            </a>
		        </div>
		    {{/each}}
		        {{!--
		        <div class="model swift">
		            <a id="go-model-swift">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        Swift&nbsp;&nbsp;
		                    </div>
		                    <div class="slogan">
		                        Experimenta desafío.
		                    </div>
		                    <div class="info">
		                        Rendimiento: 17.90 km/lt.
		                    </div>
		                </div>
		                <i></i>
		                <div class="clearfix"></div>
		            </a>
		        </div>
		        <!--<div class="model sx4-crossover">
		            <a id="go-model-sx4-crossover">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        SX4 Crossover&nbsp;&nbsp;
		                    </div>
		                    <div class="slogan">
		                        Experimenta audacia.
		                    </div>
		                    <div class="info">
		                        Rendimiento: 14.51 km/lt.
		                    </div>
		                </div>
		                <i>&#59238;</i>
		                <div class="clearfix"></div>
		            </a>
		        </div>
		        <div class="model sx4-sedan">
		            <a id="go-model-sx4-sedan">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        SX4 Sedán&nbsp;&nbsp;
		                    </div>
		                    <div class="slogan">
		                        Experimenta autonomía.
		                    </div>
		                    <div class="info">
		                        Rendimiento: 14.51 km/lt.
		                    </div>
		                </div>
		                <i>&#59238;</i>
		                <div class="clearfix"></div>
		            </a>
		        </div>-->
		        <div class="model kizashi">
		            <a id="go-model-kizashi">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        Kizashi&nbsp;&nbsp;
		                    </div>
		                    <div class="slogan">
		                        Experimenta evolución.
		                    </div>
		                    <div class="info">
		                        Rendimiento: 14.50 km/lt.
		                    </div>
		                </div>
		                <i></i>
		                <div class="clearfix"></div>
		            </a>
		        </div>
		        <div class="model grand-vitara">
		            <a id="go-model-grand-vitara">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        Grand Vitara&nbsp;&nbsp;
		                    </div>
		                    <div class="slogan">
		                        Experimenta libertad.
		                    </div>
		                    <div class="info">
		                        Rendimiento: 11.90 km/lt.
		                    </div>
		                </div>
		                <i></i>
		                <div class="clearfix"></div>
		            </a>
		        </div>
		        <div class="model s-cross">
		            <a id="go-model-s-cross">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        S-Cross&nbsp;&nbsp;
		                    </div>
		                    <div class="slogan">
		                        Experimenta sin límite.
		                    </div>
		                    <div class="info">
		                        Rendimiento: 17.00 km/lt.
		                    </div>
		                </div>
		                <i></i>
		                <div class="clearfix"></div>
		            </a>
		        </div>
		      	<div class="model ciaz">
		            <a id="go-model-ciaz">
		                <div class="car-preview">
		                    <span>&nbsp;</span>
		                </div>
		                <div class="car-info">
		                    <div class="title">
		                        Ciaz&nbsp;&nbsp;
		                    </div>
		                    <div class="slogan">
		                        Experimenta tu momento.
		                    </div>
		                    <div class="info">
		                        Rendimiento: 19.40 km/lt.
		                    </div>
		                </div>
		                <i></i>
		                <div class="clearfix"></div>
		            </a>
		        </div>
		        --}}
		        <div class="clearfix"></div>
		        <div class="note">
		            <p>* El valor de rendimiento de combustible combinado para este modelo, convenido con las autoridades
		                correspondientes, es el obtenido mediante pruebas de ciclo en ciudad y en carretera, en condiciones
		                controladas de laboratorio que no pueden ser reproducibles ni obtenerse en condiciones y hábitos de
		                manejo convencionales, debido a los factores climatológicos, de combustible, condiciones topográficas, entre otros.
		            </p>
		        </div>
		   	</div>
		</div>
	</div>
</div>
<!-- End: Modelos -->
