<a class="section-separator" name="inicio"></a>
<div class="full-size-section gray-degree window-adaptable model-section" data-min-height="650">
    <div class="car-main big-main" style="background: url('img/sections/models/main/{{sukpa.suk_Cars_Main.suk_Car_Main_Background}}') center 175px no-repeat">
        <div class="car-main-title">
            <div class="title">{{sukpa.suk_Cars_Main.suk_Title}}</div>
            <div class="slogan">{{sukpa.suk_Cars_Main.suk_Slogan}}</div>
            <div class="price">{{sukpa.suk_Cars_Main.suk_Description}}</div>
            <div class="car-main-image" id="car-image-{{sukpa.suk_Cars_Main.suk_Id_Key}}">&nbsp;</div>
        </div>
        <div class="car-next-step"><a href="#caracteristicas"><span>Características</span></a></div>
    </div>
</div>
